body {
  text-align: center;
  background: linear-gradient(500deg, #BEADFA, #DFCCFB, #D0BFFF);
  background-size: 180% 180%;
  animation: gradient-animation 90s ease infinite;
}

h1 {
  font-size: 5rem;
  color: #FAF3F0;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #FFCACC;
  margin-bottom: 2px;

}

#peach{
  height: 200px;
  border-radius: 50%;
}

h2 {
  font-size: 2rem;
  color: #FAF3F0;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #FFCACC;
  margin-top: 2px;
  padding: 0;
}

p {
  color: #FAF3F0;
  text-align: center;
  font-size: 1.5em;
}

footer {
  color: #FAF3F0;
  font-family: sans-serif;
  font-size: 1.5em;
  margin-top: 20px;
}

#a {
  background-image: url(images/fart1.jpeg);
  
}

#b {
  background-image: url(images/fart2.jpeg);

}

#c {
  background-image: url(images/fart3.jpeg);

}

#d {
  background-image: url(images/fart4.jpeg);

}

#e {
  background-image: url(images/fart5.jpeg);

}

#f {
  background-image: url(images/fart6.jpeg);
}

#g {
  background-image: url(images/fart7.jpeg);

}

#h {
  background-image: url(images/fart8.jpeg);

}

#i {
  background-image: url(images/fart9.jpeg);

}

#j {
  background-image: url(images/fart10.jpeg);

}

#k {
  background-image: url(images/fart11.jpeg);

}

#l {
  background-image: url(images/fart12.jpeg);

}

#m {
  background-image: url(images/fart13.jpeg);

}

#n {
  background-image: url(images/fart14.jpeg);

}

#o {
  background-image: url(images/fart15.jpeg);

}

.set {
  margin: 0 auto;
  width: 1000px;
  background-color: rgba(255, 202, 204, 0.4);
  border-radius: 25px;
}


.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.fart {
  outline: none;
  border: 10px solid #D4E2D4;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: white;
  background-size: 100%;
}

/* media queries */

@media (min-width: 1200px){

  body {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: auto;
    padding: auto;
  }
  .intro {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .set{
    width: 900px;
    height: 515px;
    float: right;
    position: relative;
    top: 25%;
    bottom: 25%;
  }
}

@media (max-width: 600px){

  .fart {
    width: 100px;
    height: 100px;
    border: 7px solid #D4E2D4;
    margin: 5px;
  }

  .set{
    width: auto;
  }
}

